:root {
  --shadow: -8px -5px 10px -1px rgb(250, 241, 234),
    10px 5px 10px -1px rgb(249, 215, 196);
  --inset-shadow: -10px -10px 10px -1px rgba(253, 231, 217, 0.6),
    10px 10px 10px -1px rgba(245, 217, 200, 0.2),
    inset -5px -5px 10px -1px rgba(255, 255, 255, 0.6),
    inset 5px 5px 10px -1px rgba(161, 90, 46, 0.2);
}
* {
  font-family: "Lisu Bosa", serif;
  color: #323a49;
}
.App {
  display: block;
  margin: 10px auto;
}
.container {
  margin: 50px auto 0 auto;
  max-width: 680px;
  padding: 10px;
  border: 3px solid #ffe8da;
  border-radius: 10px;
  box-shadow: -10px -5px 10px -1px rgba(248, 238, 230, 0.7),
    10px 5px 10px -1px rgba(255, 219, 198, 0.313);
  background-color: rgb(255, 232, 218);
}

.row-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.row-2 {
  display: flex;
  justify-content: space-spabetween;
  margin: 12px 6px 0px 6px;
}
.col-1 {
  width: 20%;
  text-align: center;
  border: none;
  border-radius: 40% 40% 20% 20%;
  box-shadow: var(--shadow);
  margin: 12px 6px 12px 10px;
  transition: all 300ms ease-in-out;
  padding: 12px;
}
.col-1:hover {
  border: none;
  box-shadow: var(--inset-shadow);
}
.col-2 {
  background-color: rgb(255, 232, 218);
  border: 3px solid #ffe8da;
  border-radius: 50% 10% 40% 10%;
  box-shadow: var(--shadow);
  transition: all 300ms ease-in-out;
  color: #323a49;
  width: 40%;
  margin-left: 14px;
}
.col-2:hover {
  border: 3px solid #ffe8da;
  box-shadow: var(--inset-shadow);
}
.col-3 {
  width: 30%;
  margin-right: 68px;
}
.col-4 {
  margin: 0px auto;
  width: 100%;
}
footer {
  color: #27214266;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  text-align: center;
}
footer a {
  text-decoration: none;
}
